html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(250, 246, 242);
}

#container {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(185, 183, 183);
}

#input-area {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#input-text {
    width: 80%;
    padding: 2%;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 0.3rem;
}

#submit-btn {
    width: 15%;
    padding: 2%;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#submit-btn:hover {
    background-color: rgb(0, 100, 255);
}

#filter-btn {
    margin: 2% 0;
    width: 90%;
    padding: 2%;
    background-color: rgb(237, 243, 250);
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#filter-btn > button {
    padding: 2%;
    width: 20%;
    background-color: #f8e068;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filter-btn > button:hover {
    background-color: #f8d347;
}

@media (max-width: 768px) {
    #filter-btn {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #filter-btn > button {
        width: 90%;
        margin: 2% 0;
    }
}
